* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: HelveticaBold; }

a {
  text-decoration: none;
  font-family: Akrobat-SemiBold;
  font-size: 26px;
  font-weight: lighter;
  color: #154727; }

.wrapper-for-header {
  width: 1920px;
  margin: 0 auto; }
  @media screen and (max-width: 1920px) {
    .wrapper-for-header {
      width: 100%; } }
  @media screen and (max-width: 1440px) {
    .wrapper-for-header {
      width: 100%; } }

header {
  width: 100%;
  height: 204px;
  background: #a2c632;
  display: inline-block;
  position: relative; }
  @media screen and (max-width: 1140px) {
    header {
      height: 100%; } }

.header-wrapper-phone {
  width: 100%;
  height: 50px;
  background: #d3e6b9;
  margin-top: 10px; }

.header-phone {
  width: 1410px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 1920px) {
    .header-phone {
      width: 100%; } }
  @media screen and (max-width: 1440px) {
    .header-phone {
      width: 100%; } }

.header-phone-div {
  width: 409px;
  height: 50px;
  display: flex; }

.header-phone-p {
  height: 100%;
  width: 260px;
  background: #ec2028 url(./img/callbackBG.png);
  border-radius: 0 0 25px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Helvetica;
  font-size: 20px; }

.header-text {
  color: #ec2028;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0 15px 0 0; }
  @media screen and (max-width: 415px) {
    .header-text {
      width: 35%;
      font-size: 18px;
      margin: 0;
      padding-left: 15px; } }

.active {
  color: red; }

.active:before {
  content: "";
  width: 100%;
  height: 5px;
  background: #a2c632;
  position: absolute;
  top: 0; }
  @media screen and (max-width: 1212px) {
    .active:before {
      display: none; } }

.nav-wrapper100 {
  width: 100%;
  background: #ffffff; }

.nav-wrapper {
  width: 1410px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative; }
  @media screen and (max-width: 1920px) {
    .nav-wrapper {
      width: 100%; } }
  @media screen and (max-width: 1440px) {
    .nav-wrapper {
      width: 100%; } }

.nav-header {
  width: 1170px;
  height: 100%;
  position: relative; }
  @media screen and (max-width: 1920px) {
    .nav-header {
      width: 80%; } }
  @media screen and (max-width: 1440px) {
    .nav-header {
      width: 80%; } }
  @media screen and (max-width: 1212px) {
    .nav-header {
      margin: 0 auto; } }
  @media screen and (max-width: 595px) {
    .nav-header {
      width: 95%; } }

.nav-header > ul {
  list-style: none outside none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%; }
  @media screen and (max-width: 1212px) {
    .nav-header > ul {
      flex-direction: column;
      display: none; } }
  @media screen and (max-width: 595px) {
    .nav-header > ul {
      align-items: flex-start; } }

.isopen > ul {
  display: flex; }

.menu-button {
  height: 50px;
  width: 100%;
  position: relative;
  display: none;
  cursor: pointer; }
  @media screen and (max-width: 1212px) {
    .menu-button {
      display: flex;
      justify-content: center;
      align-items: center; } }

.nav-header > ul > li {
  list-style: none outside none;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 15px; }
  @media screen and (max-width: 1212px) {
    .nav-header > ul > li {
      width: 100%;
      background: #d3e6b9;
      margin: 5px 0; } }

@media screen and (max-width: 1212px) {
  .nav-header > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; } }

.nav-header > ul > li > a:hover {
  color: red; }

.logo {
  position: absolute;
  top: -35px;
  left: 0;
  z-index: 10; }
  @media screen and (max-width: 855px) {
    .logo {
      display: none; } }

.bgHeader {
  background: url(./img/headerBG.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 54px;
  position: absolute;
  bottom: 15px; }
  @media screen and (max-width: 1212px) {
    .bgHeader {
      display: none; } }

.wrapper-for-footer {
  width: 1920px;
  margin: 0 auto; }
  @media screen and (max-width: 1920px) {
    .wrapper-for-footer {
      width: 100%; } }
  @media screen and (max-width: 1440px) {
    .wrapper-for-footer {
      width: 100%; } }

footer {
  width: 100%;
  height: 530px;
  background: #a2c632 url(./img/BanBg.png) no-repeat 100% 100%;
  display: flex;
  flex-direction: column; }

.map {
  height: 275px;
  width: 100%; }

.footer-nav-wrapper {
  width: 1100px;
  margin: 0 auto;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1920px) {
    .footer-nav-wrapper {
      width: 100%; } }
  @media screen and (max-width: 1440px) {
    .footer-nav-wrapper {
      width: 80%; } }

.nav-footer {
  width: 100%; }

.nav-footer > ul {
  list-style: none outside none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 26px;
  color: #154727; }
  @media screen and (max-width: 1220px) {
    .nav-footer > ul {
      flex-wrap: wrap; } }

.nav-footer ul li > a:hover {
  color: red; }

@media screen and (max-width: 1220px) {
  .nav-footer ul li > a {
    font-size: 20px; } }

@media screen and (max-width: 995px) {
  .nav-footer ul li > a {
    font-size: 15px; } }

.nav-footer ul > li {
  list-style: none outside none;
  height: 100%;
  margin-right: 15px;
  display: block; }

.footer-links {
  width: 100%;
  height: 80%; }

.main-banner-wrapper {
  width: 1920px;
  margin: 0 auto;
  background: #a2c632 url(./img/BanBg.png) repeat;
  background-position: 0 0;
  position: relative;
  padding-bottom: 200px; }
  @media screen and (max-width: 1920px) {
    .main-banner-wrapper {
      width: 100%; } }
  @media screen and (max-width: 1440px) {
    .main-banner-wrapper {
      width: 100%; } }

.main-banner-wrapper::after {
  content: "";
  background: url(./img/BanBg2.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0; }

.main-banner {
  position: relative;
  width: 1440px;
  height: 100%;
  max-height: 524px;
  margin: 0 auto;
  background: #ccc;
  overflow: hidden; }
  @media screen and (max-width: 1440px) {
    .main-banner {
      width: 90%;
      max-height: 460px; } }
  @media screen and (max-width: 1270px) {
    .main-banner {
      max-height: 405px; } }
  @media screen and (max-width: 1100px) {
    .main-banner {
      max-height: 360px; } }
  @media screen and (max-width: 945px) {
    .main-banner {
      max-height: 310px; } }
  @media screen and (max-width: 710px) {
    .main-banner {
      max-height: 225px; } }
  @media screen and (max-width: 650px) {
    .main-banner {
      max-height: 205px; } }
  @media screen and (max-width: 550px) {
    .main-banner {
      max-height: 180px; } }
  @media screen and (max-width: 480px) {
    .main-banner {
      max-height: 160px; } }
  @media screen and (max-width: 408px) {
    .main-banner {
      max-height: 130px; } }
  @media screen and (max-width: 360px) {
    .main-banner {
      max-height: 115px; } }

.main-banner-link img {
  width: 100%;
  height: 100%; }

.main-icons-wrapper {
  width: 1120px;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1440px) {
    .main-icons-wrapper {
      width: 80%; } }
  @media screen and (max-width: 1150px) {
    .main-icons-wrapper {
      flex-direction: column;
      align-items: center; } }

@media screen and (max-width: 1150px) {
  .main-icon {
    margin-top: 15px; } }

.main-icons-wrapper h3 {
  text-align: center;
  font-family: Akrobat-SemiBold;
  font-size: 26px;
  font-weight: lighter;
  color: #004116; }

main {
  width: 1920px;
  margin: 0 auto;
  background: #fff; }
  @media screen and (max-width: 1920px) {
    main {
      width: 100%; } }
  @media screen and (max-width: 1440px) {
    main {
      width: 100%; } }

main h1 {
  color: #ed1c24;
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center; }

.main-inner-wrapper {
  width: 1440px;
  margin: 0 auto; }
  @media screen and (max-width: 1440px) {
    .main-inner-wrapper {
      width: 95%; } }

.main-promo-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #d6e9bc; }
  @media screen and (max-width: 1000px) {
    .main-promo-wrapper {
      flex-direction: column;
      align-items: center; } }

.main-promo {
  width: 450px;
  margin: 15px;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 1440px) {
    .main-promo {
      width: 30%; } }
  @media screen and (max-width: 1000px) {
    .main-promo {
      width: 70%; } }

.main-promo img {
  transition: all 2s ease; }

.main-promo:hover .promo-tittle {
  display: block; }

.main-promo:hover img {
  transform: scale(1.1); }

.promo-tittle {
  font-family: Helvetica;
  font-size: 18px;
  color: #154727;
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  background: #d3e6b9;
  border: 1px solid #295739;
  padding: 10px;
  z-index: 10; }

@media screen and (max-width: 1440px) {
  .main-promo img {
    width: 100%; } }

.button-more {
  width: 160px;
  height: 50px;
  background: #66952e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fefffe;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 20px; }

.button-more:hover {
  box-shadow: 1px 1px 2px 1px #154727; }

.our-mission {
  width: 1440px;
  min-height: 400px;
  margin: 0 auto;
  background: #fff;
  display: flex; }
  @media screen and (max-width: 1440px) {
    .our-mission {
      width: 95%; } }

.our-mission-text {
  margin-left: 15px;
  width: 945px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 1440px) {
    .our-mission-text {
      width: 60%; } }
  @media screen and (max-width: 900px) {
    .our-mission-text {
      width: 100%; } }

.our-mission-text p {
  font-family: Helvetica;
  font-size: 18px;
  color: #58595b;
  letter-spacing: 0.3px;
  margin-top: 30px;
  margin-bottom: 5px; }

.our-mission-text h2 {
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #154727; }

@media screen and (max-width: 1440px) {
  .our-mission-pic img {
    background-size: contain; } }

@media screen and (max-width: 900px) {
  .our-mission-pic img {
    display: none; } }

.social-programs {
  width: 1440px;
  height: 310px;
  margin: 0 auto;
  padding: 0 10px;
  background: url(./img/socialBg.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  @media screen and (max-width: 1440px) {
    .social-programs {
      width: 95%; } }

.social-programs-wrapper {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 25px; }

.prev {
  background: url(./img/prev.png) no-repeat;
  width: 45px;
  height: 86px;
  border: none;
  margin-left: 15px;
  cursor: pointer;
  position: absolute;
  top: 35%;
  left: 2%; }

.prev:focus,
.next:focus,
.next-banner:focus,
.Back-banenr:focus {
  outline: none; }

.next-banner {
  background: url(./img/next.svg) no-repeat;
  width: 100px;
  height: 100px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  position: absolute;
  bottom: 70%;
  right: 7%;
  z-index: 100; }

.Back-banenr {
  background: url(./img/back.svg) no-repeat;
  width: 100px;
  height: 100px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  position: absolute;
  bottom: 70%;
  left: 7%;
  z-index: 100; }

@media screen and (min-width: 1740px) {
  .Back-banenr {
    left: 15%; } }

@media screen and (min-width: 1740px) {
  .next-banner {
    right: 15%; } }

@media screen and (max-width: 1150px) {
  .Back-banenr,
  .next-banner {
    bottom: 83%; } }

@media screen and (max-width: 850px) {
  .Back-banenr,
  .next-banner {
    bottom: 86%; } }

@media screen and (max-width: 644px) {
  .Back-banenr,
  .next-banner {
    bottom: 88%; } }

@media screen and (max-width: 470px) {
  .Back-banenr,
  .next-banner {
    bottom: 90%; } }

@media screen and (max-width: 422px) {
  .Back-banenr,
  .next-banner {
    bottom: 91%; } }

.next {
  background: url(./img/next.png) no-repeat;
  width: 45px;
  height: 86px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  position: absolute;
  top: 35%;
  right: 2%; }

@media screen and (max-width: 524px) {
  .wrapper-for-social-program {
    margin-left: 35px; } }

.wrapper-for-social-program:hover .tittle-for-social {
  display: block; }

.tittle-for-social {
  font-family: Helvetica;
  font-size: 18px;
  color: #154727;
  display: none;
  position: absolute;
  top: 0%;
  background: #fff;
  border: 1px solid #295739;
  padding: 10px;
  z-index: 10; }

.AboutUs {
  width: 1440px;
  min-height: 400px;
  margin: 0 auto;
  background: #fff;
  display: flex; }
  @media screen and (max-width: 1440px) {
    .AboutUs {
      width: 95%; } }
  @media screen and (max-width: 780px) {
    .AboutUs {
      flex-direction: column; } }

.AboutUs-text {
  margin-left: 15px;
  width: 945px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 1440px) {
    .AboutUs-text {
      width: 60%; } }
  @media screen and (max-width: 780px) {
    .AboutUs-text {
      width: 95%; } }

.AboutUs-text p {
  font-family: Helvetica;
  font-size: 18px;
  color: #58595b;
  letter-spacing: 0.3px;
  margin-top: 30px;
  margin-bottom: 5px; }

.AboutUs-text h2 {
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #154727; }

.AboutUs-pic {
  width: 480px;
  min-height: 400px;
  position: relative; }
  @media screen and (max-width: 1440px) {
    .AboutUs-pic {
      width: 40%;
      height: 100%; } }
  @media screen and (max-width: 780px) {
    .AboutUs-pic {
      display: none; } }

.AboutUs-pic::before {
  content: "";
  background: url(./img/AboutUs.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -40px; }

.news {
  width: 1920px;
  margin: 0 auto;
  background: url(./img/bgForNews.png); }
  @media screen and (max-width: 1920px) {
    .news {
      width: 95%; } }
  @media screen and (max-width: 1440px) {
    .news {
      width: 95%; } }

.news h2 {
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #154727;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center; }

.news-inner-wrapper {
  width: 1440px;
  margin: 0 auto; }
  @media screen and (max-width: 1440px) {
    .news-inner-wrapper {
      width: 100%; } }

.news-promo-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px; }
  @media screen and (max-width: 980px) {
    .news-promo-wrapper {
      flex-direction: column;
      align-items: center; } }

.news-promo {
  width: 450px;
  margin: 15px;
  background: #fff; }
  @media screen and (max-width: 1440px) {
    .news-promo {
      width: 30%; } }
  @media screen and (max-width: 980px) {
    .news-promo {
      width: 90%; } }

.news-promo img {
  width: 450px;
  border-bottom: 1px solid #ec2529;
  width: 100%; }
  @media screen and (max-width: 1440px) {
    .news-promo img {
      width: 100%; } }

.news-promo p {
  font-family: Helvetica;
  font-size: 18px;
  color: #58595b;
  padding: 10px; }

.map {
  display: flex; }

.about-main {
  width: 1440px;
  margin: 0 auto;
  background: #fff; }
  @media screen and (max-width: 1440px) {
    .about-main {
      width: 100%; } }

.about-main-wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto; }
  @media screen and (max-width: 1170px) {
    .about-main-wrapper {
      flex-direction: column; } }

.about-main-wrapper-left {
  width: 960px;
  margin: 0 auto; }
  @media screen and (max-width: 1440px) {
    .about-main-wrapper-left {
      width: 65%; } }
  @media screen and (max-width: 1170px) {
    .about-main-wrapper-left {
      width: 95%; } }

.about-main-wrapper-left-about {
  width: 945px;
  margin-right: 15px;
  padding-left: 15px;
  border-bottom: 2px solid #547c2c; }
  @media screen and (max-width: 1440px) {
    .about-main-wrapper-left-about {
      width: 100%; } }

.about-main-wrapper-left-about img {
  float: left;
  margin-right: 30px; }
  @media screen and (max-width: 1210px) {
    .about-main-wrapper-left-about img {
      float: none;
      margin-right: 0;
      display: block;
      margin: 0 auto; } }
  @media screen and (max-width: 500px) {
    .about-main-wrapper-left-about img {
      width: 95%; } }

.about-main-wrapper-left-about p {
  font-family: Helvetica;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #58595b;
  margin-bottom: 20px; }

.about-main-wrapper-left-our-values {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 945px;
  margin-right: 15px;
  padding-left: 15px; }
  @media screen and (max-width: 1440px) {
    .about-main-wrapper-left-our-values {
      width: 100%; } }

.about-main-wrapper-left-our-values h2 {
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #154727;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }

.about-main-wrapper-left-our-values-wrapper {
  width: 930px;
  margin-bottom: 40px; }
  @media screen and (max-width: 1440px) {
    .about-main-wrapper-left-our-values-wrapper {
      width: 100%; } }

.about-main-wrapper-left-our-values-wrapper h3 {
  font-family: Akrobat-SemiBold;
  font-size: 36px;
  font-weight: lighter;
  color: #66952e; }

.about-main-wrapper-left-our-values-wrapper p {
  font-family: Helvetica;
  font-size: 18px;
  color: #6e6f71; }

.about-main-wrapper-left-our-values-wrapper img {
  float: left;
  margin-right: 30px; }
  @media screen and (max-width: 480px) {
    .about-main-wrapper-left-our-values-wrapper img {
      float: none; } }

.about-main-wrapper-right {
  width: 480px;
  margin: 0 auto; }
  @media screen and (max-width: 1440px) {
    .about-main-wrapper-right {
      width: 35%; } }
  @media screen and (max-width: 1170px) {
    .about-main-wrapper-right {
      width: 95%; } }

.about-main-wrapper-right-promo {
  width: 100%;
  background: #d6e9bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.about-main-wrapper-right-promo img {
  width: 450px;
  margin: 5px 0 15px 0; }
  @media screen and (max-width: 1440px) {
    .about-main-wrapper-right-promo img {
      width: 90%; } }

.about-main-wrapper-right-promo h3 {
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #154727;
  margin: 15px auto; }
  @media screen and (max-width: 820px) {
    .about-main-wrapper-right-promo h3 {
      font-size: 28px; } }

.about-main-wrapper-right-lastNews {
  width: 100%;
  background: #d6e9bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto; }

.about-main-wrapper-right-lastNew {
  width: 450px; }
  @media screen and (max-width: 1440px) {
    .about-main-wrapper-right-lastNew {
      width: 95%; } }

.about-main-wrapper-right-lastNew:hover {
  box-shadow: 5px 5px 5px 1px grey;
  background: white;
  width: 100%; }

.about-main-wrapper-right-lastNew:hover p {
  margin: 5px; }

.about-main-wrapper-right-lastNew p {
  min-height: 130px;
  font-family: Helvetica;
  color: #6a6a6a;
  font-size: 18px;
  margin-bottom: 10px; }

.lastNew-day {
  font-family: Akrobat-Bold;
  font-size: 18px;
  color: black; }

.lastNew-h {
  font-family: Akrobat-Bold;
  font-size: 20px;
  letter-spacing: 0.8px;
  color: #4b7520; }

.about-main-wrapper-right-lastNews h3 {
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #154727;
  margin-bottom: 20px; }

.about-main-wrapper-right-information {
  width: 100%;
  background: #d6e9bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0; }

.about-main-wrapper-right-information h3 {
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #154727; }
  @media screen and (max-width: 820px) {
    .about-main-wrapper-right-information h3 {
      font-size: 28px; } }

.about-main-wrapper-right-information img {
  margin-bottom: 10px;
  width: 90%;
  height: 90%; }

.about-team-subscribe {
  width: 1440px;
  margin: 0 auto;
  display: flex; }
  @media screen and (max-width: 1440px) {
    .about-team-subscribe {
      width: 95%; } }
  @media screen and (max-width: 1000px) {
    .about-team-subscribe {
      flex-direction: column;
      justify-content: space-around;
      align-items: center; } }

.about-team-subscribe-left {
  width: 930px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }
  @media screen and (max-width: 1440px) {
    .about-team-subscribe-left {
      width: 55%; } }
  @media screen and (max-width: 1000px) {
    .about-team-subscribe-left {
      width: 95%; } }

.about-team-subscribe-left h2 {
  color: #66952e;
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center; }

.about-team-subscribe-left p {
  font-family: Helvetica;
  font-size: 18px;
  color: #58595b; }

.about-team-subscribe-right {
  margin: 15px 0 10px 0;
  padding: 0 15px;
  background: #d6e9bc;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1000px) {
    .about-team-subscribe-right {
      width: 95%; } }

.about-team-subscribe-right-wrapper {
  width: 450px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0 15px 0; }

input[type="email"] {
  width: 330px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid #9a9a9a;
  background: #f1f6e3;
  padding-left: 15px;
  color: #709583;
  font-family: Helvetica;
  color: #6a6a6a;
  font-size: 18px;
  margin-bottom: 25px; }

input[type="email"]:focus {
  border: 2px solid #a1c532; }

.about-team-subscribe-right-wrapper h2 {
  color: #66952e;
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  margin: 10px 0 35px 0; }
  @media screen and (max-width: 1000px) {
    .about-team-subscribe-right-wrapper h2 {
      font-size: 25px; } }

.about-team-subscribe-right-wrapper h3 {
  width: 350px;
  text-align: center;
  color: #154727;
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 30px;
  margin-bottom: 25px; }

.about-promo-sell {
  width: 1440px;
  margin: 0 auto 15px;
  background: #d6e9bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1440px) {
    .about-promo-sell {
      width: 95%; } }

.about-promo-sell-positions {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; }
  @media screen and (max-width: 960px) {
    .about-promo-sell-positions {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.about-promo-sell-position {
  width: 450px;
  overflow: hidden; }
  @media screen and (max-width: 1440px) {
    .about-promo-sell-position {
      width: 32%; } }
  @media screen and (max-width: 960px) {
    .about-promo-sell-position {
      width: 80%; } }

.about-promo-sell-position img {
  width: 100%;
  transition: all ease 2s; }

.about-promo-sell-position:hover img {
  cursor: pointer;
  transform: scale(1.1); }

.about-promo-sell h2 {
  color: #66952e;
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  margin: 10px 0 20px 0; }

.pharm-main-wrapper {
  width: 1440px;
  display: flex;
  margin: 0 auto; }
  @media screen and (max-width: 1440px) {
    .pharm-main-wrapper {
      width: 98%; } }
  @media screen and (max-width: 1100px) {
    .pharm-main-wrapper {
      flex-direction: column;
      align-items: center; } }

.pharmH1 {
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 60px;
  width: 1440px;
  color: #4b7520;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  @media screen and (max-width: 1440px) {
    .pharmH1 {
      width: 100%; } }
  @media screen and (max-width: 1140px) {
    .pharmH1 {
      margin-top: 140px; } }
  @media screen and (max-width: 595px) {
    .pharmH1 {
      margin: 0 auto; } }
  @media screen and (max-width: 458px) {
    .pharmH1 {
      font-size: 50px; } }
  @media screen and (max-width: 353px) {
    .pharmH1 {
      font-size: 45px; } }

.pharmH1 span {
  display: block;
  margin-bottom: 8px;
  font-size: 36px;
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  color: #154727;
  text-align: end; }

.pharm-main-wrapper-left-about {
  width: 945px;
  margin-right: 15px;
  padding-left: 15px; }
  @media screen and (max-width: 1440px) {
    .pharm-main-wrapper-left-about {
      width: 95%; } }
  @media screen and (max-width: 1110px) {
    .pharm-main-wrapper-left-about {
      margin-bottom: 15px; } }

.pharm-main-wrapper-left-about img {
  width: 100%;
  height: 100%; }

.pharm-main-wrapper-left-about p {
  font-family: Helvetica;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #6e6f71;
  margin-bottom: 10px; }

.pharm-places-wrapper,
.vacancy-places-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 945px;
  margin-right: 15px;
  padding-left: 15px;
  margin-bottom: 15px; }
  @media screen and (max-width: 1440px) {
    .pharm-places-wrapper,
    .vacancy-places-wrapper {
      width: 98%; } }
  @media screen and (max-width: 1110px) {
    .pharm-places-wrapper,
    .vacancy-places-wrapper {
      margin-bottom: 15px; } }

.pharm-place,
.vacancy-place {
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #154727;
  width: 100%;
  border-top: 2px solid #79a247;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0 10px 75px;
  cursor: pointer;
  position: relative; }

.pharm-place:before {
  content: url(./img/pharmPoint.png);
  position: absolute;
  left: 25px;
  top: 15px; }

.vacancy-place:before {
  content: url(./img/iconVacancy.png);
  position: absolute;
  left: 25px;
  top: 10px; }

.pharm-place:after,
.vacancy-place:after {
  content: url(./img/pharmCH.png);
  position: absolute;
  right: 25px;
  top: 5px; }
  @media screen and (max-width: 562px) {
    .pharm-place:after,
    .vacancy-place:after {
      display: none; } }

.partnership-wrapper-logo {
  display: flex;
  margin: 15px 0; }

.pharm-places-wrapper h3 {
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #66952e;
  display: flex;
  align-items: flex-end;
  margin-left: 15px; }

.pharm-placeP {
  color: #58595b;
  font-family: Helvetica;
  font-size: 18px;
  display: none;
  margin-top: 5px; }

.vacancy-placeP {
  color: #58595b;
  font-family: Helvetica;
  font-size: 18px;
  display: none; }

.visible {
  display: block; }

.vacancy-placeP > span {
  color: black; }

.pharm-place:last-child,
.vacancy-place:last-child {
  border-bottom: 2px solid #79a247; }

#map {
  width: 100%;
  height: 280px; }

.social-links-wrapper a:hover {
  box-shadow: 1px 1px 2px 1px #154727;
  border-radius: 7px; }

.social-links-wrapper {
  margin: 40px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.social-link1 {
  background: url(./img/facebook.png);
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0; }

.social-link2 {
  background: url(./img/instag.png);
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0; }

.social-link3 {
  background: url(./img/twitter.png);
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0; }

.social-link4 {
  background: url(./img/telegr.png);
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0; }

.copyright {
  margin: 0 auto; }

.copyright p {
  font-family: Akrobat-SemiBold;
  color: #004116;
  font-size: 26px;
  font-weight: lighter; }

.news-promo-sell-positions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.news-promo-sell {
  background: #d6e9bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }

.news-promo-sell-position {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.news-promo-sell-position img {
  margin: 0 auto;
  display: block;
  width: 95%;
  height: 95%;
  transition: all ease 1s; }

.news-promo-sell-position:hover img {
  transform: scale(1.1); }

.news-promo-sell h2 {
  color: #66952e;
  font-family: Akrobat-SemiBold;
  font-size: 36px;
  margin: 10px 0 10px 0;
  font-weight: lighter; }

.news-photogallery,
.news-text {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #547c2c;
  padding: 5px 0 5px 15px;
  margin-right: 15px; }

.news-photogallery-photos {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media screen and (max-width: 1100px) {
    .news-photogallery-photos {
      flex-direction: column; } }

.news-photogallery-photo {
  width: 33%; }
  @media screen and (max-width: 1100px) {
    .news-photogallery-photo {
      width: 90%; } }

.news-photogallery-photos img {
  width: 100%;
  height: 100%;
  margin-top: 10px; }

.news-photogallery-day,
.news-photogallery-tittle {
  font-family: Akrobat-Bold;
  font-size: 18px; }

.news-photogallery-day {
  color: black; }

.news-photogallery-tittle {
  color: #4b7520; }

.news-text-someNews {
  font-family: Helvetica;
  color: #6a6a6a;
  font-size: 18px; }

.news-photo-text {
  display: block;
  min-height: 230px;
  border-bottom: 2px solid #547c2c;
  padding: 5px 0 5px 15px;
  margin-right: 15px; }

.news-photo-text img {
  margin-right: 15px;
  height: 220px;
  float: left; }

.newsInner {
  padding: 0 15px;
  min-height: 980px;
  border-bottom: 2px solid #547c2c;
  padding-bottom: 20px; }

.newsInner::after {
  content: " ";
  display: table;
  clear: both; }

@media screen and (max-width: 1170px) {
  .newsInner img {
    width: 100%;
    height: 100%; } }

.news-photogallery-tittle span {
  color: black; }

.newsInnerFirstPhoto {
  float: left;
  margin: 10px 15px 5px 0; }

.photo-with-description {
  float: right;
  background: #d6e9bc;
  min-height: 365px;
  margin-bottom: 15px; }
  @media screen and (max-width: 1170px) {
    .photo-with-description {
      float: none; } }

@media screen and (max-width: 1170px) {
  .photo-with-description img {
    width: 100%;
    height: 100%; } }

.photo-with-description p {
  font-family: Akrobat-Bold;
  font-size: 18px;
  color: #154727;
  padding: 5px 0 5px 10px; }

.imgLinks {
  float: left;
  margin: 0 30px 15px 0; }

.promo-blocks {
  padding: 0 15px;
  min-height: 340px; }
  @media screen and (max-width: 800px) {
    .promo-blocks {
      display: flex;
      flex-direction: column; } }

@media screen and (max-width: 800px) {
  .promo-blocks > a img {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: 100%; } }

.Hlinks {
  font-family: Akrobat-Bold;
  font-size: 24px;
  color: #4b7520;
  margin: 10px 0;
  display: block; }

.promo-blocks p {
  font-family: Helvetica;
  font-size: 18px;
  color: #58595b;
  letter-spacing: 0.5px; }

.promo-vygoda-main {
  width: 1440px;
  margin: 20px auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 1400px) {
    .promo-vygoda-main {
      width: 100%;
      justify-content: space-around; } }

.promo-vygoda-items-tittle {
  font-family: Helvetica;
  font-size: 18px;
  color: #154727;
  display: none;
  position: absolute;
  top: -20%;
  background: #d3e6b9;
  border: 1px solid #295739;
  padding: 10px;
  z-index: 10; }

.promo-vygoda-items {
  cursor: pointer;
  margin-bottom: 30px;
  position: relative; }

.promo-vygoda-items img {
  width: 100%;
  height: 100%; }

.promo-vygoda-items:hover .promo-vygoda-items-tittle {
  display: block; }

.promo-vygoda-text {
  width: 1440px;
  margin: 0 auto 10px;
  padding: 0 20px;
  border-bottom: 2px solid #547c2c; }
  @media screen and (max-width: 1400px) {
    .promo-vygoda-text {
      width: 90%;
      margin: 0 auto; } }

.promo-vygoda-text h2 {
  margin-bottom: 30px;
  font-family: Helvetica;
  font-size: 18px;
  color: #154727; }

.promo-vygoda-text p {
  font-family: Helvetica;
  font-size: 18px;
  color: #58595b;
  margin-bottom: 15px; }

.vacancy-right-information {
  width: 100%;
  background: #d6e9bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding-bottom: 30px; }

.vacancy-right-information h3 {
  font-family: Akrobat-SemiBold;
  font-size: 28px;
  color: #154727;
  margin: 20px auto;
  font-weight: lighter; }
  @media screen and (max-width: 420px) {
    .vacancy-right-information h3 {
      font-size: 22px; } }
  @media screen and (max-width: 350px) {
    .vacancy-right-information h3 {
      font-size: 20px; } }

.vacancy-right-information img {
  margin-bottom: 10px;
  width: 90%;
  height: 90%; }

.vacancy-button {
  height: 50px;
  background: #66952e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fefffe;
  text-transform: uppercase;
  margin: -80px 0 0 0;
  padding: 0 15px;
  border-radius: 5px; }

.vacancy-button:hover {
  box-shadow: 1px 1px 2px 1px #154727; }

.vacancy-about {
  color: #58595b;
  font-family: Helvetica;
  font-size: 18px;
  padding: 0 15px;
  margin-bottom: 15px; }

.didntfindvacancy {
  font-family: Helvetica;
  font-size: 18px;
  color: #154727;
  text-align: center;
  margin: 30px auto; }

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 15px;
  margin-top: 30px; }
  @media screen and (max-width: 720px) {
    .contacts {
      margin-right: 0px;
      flex-direction: column; } }

.contacts-address,
.contacts-phone,
.contacts-email {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  @media screen and (max-width: 720px) {
    .contacts-address,
    .contacts-phone,
    .contacts-email {
      flex-direction: column;
      width: 90%;
      align-items: center; } }

.wrapper-forImg {
  margin: 15px;
  min-height: 100px; }
  @media screen and (max-width: 720px) {
    .wrapper-forImg {
      min-height: auto; } }

.wrapper-for-text {
  margin: 15px; }
  @media screen and (max-width: 720px) {
    .wrapper-for-text {
      text-align: center; } }

.wrapper-for-text p {
  font-family: Helvetica;
  font-size: 16px;
  color: #58595b; }

.wrapper-for-text a {
  font-family: Helvetica;
  font-size: 16px;
  color: #58595b; }

.vacancy-anket {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #004115;
  margin: 80px 15px 10px 0;
  padding: 0 15px 10px 0; }

.contacts-place {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Akrobat-SemiBold;
  font-weight: lighter;
  font-size: 36px;
  color: #004115;
  margin: 0 15px 10px 0;
  padding: 0 15px 10px 0;
  border-bottom: 1px solid #66952e; }

.contacts-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.form-left {
  width: 45%;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 1170px) {
    .form-left {
      width: 100%; } }

.form-left input {
  width: 95%;
  margin: 20px 20px 0 0;
  height: 60px;
  border: 2px solid #8ea873;
  padding-left: 20px;
  font-family: Helvetica;
  font-size: 16px;
  color: #58595b;
  background: #fff; }

.floatP {
  float: left;
  margin-left: 43%;
  margin-top: 30px;
  margin-right: 10px;
  font-family: Akrobat-Bold;
  font-size: 20px;
  letter-spacing: 0.8px;
  color: #4b7520; }
  @media screen and (max-width: 1444px) {
    .floatP {
      margin-left: 40%; } }
  @media screen and (max-width: 1434px) {
    .floatP {
      margin-left: 39%; } }
  @media screen and (max-width: 1400px) {
    .floatP {
      margin-left: 38%; } }
  @media screen and (max-width: 1400px) {
    .floatP {
      margin-left: 36%; } }
  @media screen and (max-width: 1334px) {
    .floatP {
      margin-left: 31%; } }
  @media screen and (max-width: 1277px) {
    .floatP {
      margin-left: 30%; } }
  @media screen and (max-width: 1224px) {
    .floatP {
      margin-left: 20%; } }
  @media screen and (max-width: 1170px) {
    .floatP {
      margin-left: 43%; } }
  @media screen and (max-width: 1100px) {
    .floatP {
      margin-left: 50%; } }
  @media screen and (max-width: 690px) {
    .floatP {
      margin-left: 35%; } }
  @media screen and (max-width: 521px) {
    .floatP {
      margin-left: 25%; } }
  @media screen and (max-width: 442px) {
    .floatP {
      margin-left: 5%; } }

.inputFile {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer; }

.form-right {
  width: 53%; }
  @media screen and (max-width: 1170px) {
    .form-right {
      width: 100%; } }

.buttonFile {
  width: 160px;
  height: 50px;
  border: 2px solid #d3dc9b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-family: Akrobat-Bold;
  font-size: 20px;
  letter-spacing: 0.8px;
  color: #4b7520; }

.textareaVacancy {
  height: 55%;
  width: 100%; }
  @media screen and (max-width: 1170px) {
    .textareaVacancy {
      width: 95%; } }

textarea {
  width: 53%;
  margin: 20px 15px 0 0;
  resize: none;
  font-family: Helvetica;
  font-size: 16px;
  color: #58595b;
  padding: 20px 0 0 20px;
  border: 2px solid #8ea873; }
  @media screen and (max-width: 1170px) {
    textarea {
      width: 95%; } }

.contacts-form-button {
  background: #66952e;
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  color: #ecf2e6;
  font-family: Akrobat-SemiBold;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 65%;
  margin-bottom: 15px; }
  @media screen and (max-width: 1110px) {
    .contacts-form-button {
      margin: 20px auto; } }

.contacts-form-button:hover {
  box-shadow: 1px 1px 2px 1px #154727;
  cursor: pointer; }

.cooperation-icons-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 10px 30px 0 0;
  border-bottom: 1px solid #739e3f;
  padding-bottom: 20px; }
  @media screen and (max-width: 700px) {
    .cooperation-icons-wrapper {
      margin: 0;
      flex-wrap: wrap; } }

@media screen and (max-width: 700px) {
  .cooperation-icon-wrapp {
    margin: 10px; } }

.cooperation-icons-wrapper p {
  font-family: Helvetica;
  font-size: 18px;
  color: #044419;
  text-align: center; }

.cooperation-about {
  font-family: Helvetica;
  font-size: 18px;
  color: #5a5a5c;
  text-align: center;
  padding: 0 15px;
  margin: 20px 0 20px 0; }

.about-promo {
  width: 90%;
  margin: 15px;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 1000px) {
    .about-promo {
      width: 70%; } }

.about-promo img {
  transition: all 2s ease; }

.about-promo:hover .about-tittle {
  display: block; }

.about-promo:hover img {
  transform: scale(1.1); }

.about-tittle {
  font-family: Helvetica;
  font-size: 18px;
  color: #154727;
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  background: #d3e6b9;
  border: 1px solid #295739;
  padding: 10px;
  z-index: 10; }

@media screen and (max-width: 1440px) {
  .about-promo img {
    width: 100%; } }

.form-subs {
  display: flex;
  flex-direction: column;
  align-items: center; }

.button-subscribe {
  cursor: pointer;
  background: #66952e;
  width: 320px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #fefffe;
  font-family: Akrobat-SemiBold;
  font-size: 26px;
  font-weight: lighter;
  margin-bottom: 35px; }

.button-subscribe:hover {
  box-shadow: 1px 1px 2px 1px #154727; }
